
body {
    background-color:#33393f;
    color:beige;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

nav {
    position: fixed;
    z-index: 2;
    width: 99%;
    background-image: linear-gradient(
    rgba(173, 163, 173) 0%,
    rgb(204, 116, 33) 100%);
    border: solid beige;
    border-radius: 15px 15px 15px 15px;
    border-width: 3px;

}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 5px 17px 5px 17px;
    padding: 0;
    width: 95%;
}

nav li {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5px 30px 5px 30px;
}
nav li a {
    text-decoration: none;
    color: beige;
    font-size: 1.5em;
    font-weight: bolder;
}

nav li:hover {
    box-shadow: 0px 0px 8px beige;
    border-radius: 15px 15px 15px 15px;
}

header {
    display: flex; 
    justify-content:space-around;
    margin: 0px 20px 10px 20px; 
}

.mainimg {
    border-radius: 50%;
    margin: 100px 20px 10px 10px;
    box-shadow: 0px 0px 8px beige;
}

header h1 {
    font-size: 5em;
    color:rgb(204, 116, 33);
    margin-top: 100px;
}

header div h2 {
    margin-top: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    margin-top: 50px;
    padding: 2em;
    border-radius: 15px;
    border: solid;
    box-shadow: 0px 0px 8px beige;
    background-image: linear-gradient(
    rgba(173, 163, 173, 0.3) 0%,
    rgb(204, 116, 33) 100%);
}

section h1 {
    position: relative;
    margin: -4rem 0 2rem 0;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 15px;
    border: solid beige;
    background-color:rgb(204, 116, 33);
}
#profile {
    text-align: center;
}
#profile ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}
.githublogo,
.linkedin {
    border-radius: 50%;
}

.project-div{
    display: flex;
    justify-content: space-around;
}
.code-refactor-head,
.deployed-head {
    position: relative;
    width: min-content;
    margin: 0 0 -2rem 0;
    padding: 0.5rem 1rem;
    background-color:rgb(204, 116, 33);
    border-radius: 15px;
    border: solid beige;
}

.code-refactor,
.deployed-pages {
    border-radius: 15px 15px 15px 15px;
}

#contacts div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 992px) {
    header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    header div h2,
    header div h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .code-refactor {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1280px) {
    .project-div {
        display: flex;
        flex-direction: column;
    }
}