:root {
    --thunder:rgb(204, 116, 33);
    --night:#33393f;
    --blitz:rgb(252, 252, 225);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color:#33393f;
    color: var(--blitz);
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    margin: 0;
}

nav {
    position: fixed;
    z-index: 3; 
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5px 30px 5px 30px; 
    margin: 0px 10px 0px 10px;
    opacity: .7;
}
nav li a {
    text-decoration: none;
    color: var(--thunder);
} 

nav li:hover {
    text-shadow: 2px 2px var(--blitz);
    font-size: larger;
    opacity: 1;
}
.headerImage {
    height: 900px;
    width: 100%;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 30%;
    box-shadow: 0px 0px 55px var(--blitz);
    
}

#profile {
    display: inline-grid;
    grid-gap: 40px;
    align-items: center;
    text-align: center;
    margin: 50px 20px 50px 20px;
    padding: 2rem;
    
}

.profileImage {
    grid-column: 3;
    grid-row: 1 / span 2;
    height:400px;
    width: max-content;
    border-radius: 100px 0px 100px 100px;
    box-shadow: 0px 0px 25px var(--thunder);
}

#titleDiv h1 {
    color: var(--thunder);
    font-size: 4rem;
    font-weight: lighter;
    text-shadow: 2px 2px var(--blitz);
}
#titleDiv {
    grid-row: 2;
    grid-column: 1;
    font-family:'Permanent Marker', cursive;
    font-weight: lighter;
    text-shadow: 2px 2px var(--thunder);
    font-size: 1.5rem;
    
}
#ambitionDiv {
    font-family: 'Gloria Hallelujah', cursive;
    grid-row: 3;
    grid-column: 2;
    height: min-content;
    padding: 10px;
    margin-top: 20px;
    border: solid 3px var(--thunder);
    border-radius: 30px 0px 30px 30px;
}
#quoteDiv {
    grid-row: 1;
    grid-column: 2;
    color: var(--blitz);
    font-family:'Gloria Hallelujah', cursive;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-top: 20px;
    width: 500px;
    border: solid 3px var(--blitz);
    border-radius: 0px 30px 30px 30px;
    
}
.item1 {
    grid-row: 2;
    grid-column: 2;
}
.item2 {
    color: var(--thunder);
    grid-row: 3;
    grid-column: 1;
}
.item2 h1 {
    margin-bottom: -5px;
}
.githublogo,
.resume,
.linkedin {
    border-radius: 50%;
}
.resume:hover {
    box-shadow: 0px 0px 25px var(--thunder);
    opacity: .8;
    border: solid 3px var(--thunder);
}
.linkedin:hover,
.githublogo:hover {
    height: 160px;
}

#projects {
    display: flex;
    justify-content: space-around;
    margin: 50px 50px 50px 50px;
    padding: 2rem;
    /* border-radius: 0px 40px 40px 40px;
    box-shadow: 0px 0px 15px var(--blitz) */
}
.daily-schedule-head,
.weather-dashboard-head,
.code-quiz-head,
.groupproject-head {
    position: relative;
    width: max-content;
    margin: 1.5rem 0 -2rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0px 30px 30px 30px;
    border: solid 2px var(--blitz);
    font-family:'Permanent Marker', cursive;
    font-weight: lighter;
    color: var(--thunder);
    font-size: 1.5rem;
    background-color:var(--night) ;
    color: var(--thunder);
   
}

.workDaySchedule,
.weatherDashboard,
.codeQuiz,
.groupProject {
    border-radius: 80px 0px 80px 80px;
}

.workDaySchedule:hover,
.weatherDashboard:hover,
.codeQuiz:hover,
.groupProject:hover {
    box-shadow: 0px 0px 25px var(--blitz);
    border: solid 3px var(--thunder);
    
}
.r {
    position: relative;
    z-index: 2;
    font-size: 4rem;
    font-family:'Monoton', cursive;
    background-color: var(--thunder);
    border-radius: 25px 0px 25px 0px;
    padding: 0px 20px 0px 20px;
    width: max-content;
    font-weight: lighter;
    opacity: .8;
}
.m {
    position: relative;
    z-index: -1;
    font-size: 4rem;
    font-family:'Monoton', cursive;
    color: var(--thunder);
    background-color: var(--blitz);
    border-radius: 25px 0px 25px 0px;
    padding: 0px 20px 0px 20px;
    width: max-content;
    font-weight: lighter;
    margin-left: 40px;
    margin-top:-40px;
    opacity: .9;
}
#contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    margin-bottom: 50px;
    margin: 50px 20px 50px 20px;
    padding: 2rem;
}


@media  screen and (max-width:860px) {
    nav {
        font-size: 1.5rem;
        text-shadow: none;
    }
    nav ul {
        margin-top: 10px;
    }
    nav li:hover {
        background-image: radial-gradient(var(--blitz)10%,rgba(255, 255, 255, 0)50%);
        border-radius: 50%;
        
    }
    .headerImage {
        background-size: 1000px 900px ;
    }
    #profile {
        display: flex;
        flex-direction: column;
    }
    #titleDiv h1 {
        font-size: 3.5rem;
    }
    #quoteDiv {
        width: 100%;
        border: none;
        font-size: 1rem;
    }
    .item1 {
        flex-direction: row;
    }
    #ambitionDiv {
       width: 100%;
   }
   #projects {
    margin: 50px 20px 50px 20px;
   }
    .githublogo,
    .resume,
    .linkedin {
        height: 100px;
    }
    .linkedin:hover,
    .githublogo:hover {
    height: 120px;
    }

    .daily-schedule-head,
    .weather-dashboard-head,
    .code-quiz-head,
    .groupproject-head  {
        font-size: 1rem;
    }
    .workDaySchedule,
    .weatherDashboard,
    .codeQuiz,
    .groupProject {
    width: 100%;
    height: max-content;
    }
    .projectDiv1, .profileImage {
        margin-top: 20px;
    }
    .email, .phone {
        height: 100px;
        margin-top: 20px;
    }
    #logoDiv {
        margin-top: 20px;
    }
    #contacts {
        display: flex;
        flex-direction: column-reverse;
        font-size: .8rem; 
    }
  
}

@media screen and (max-width: 1430px) {
    #projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #ambitionDiv {
        grid-row: 3;
        grid-column: 2 / span 2;
    }
    #quoteDiv {
        margin-top: 20px;
        grid-row: 1;
        grid-column: 1 / span 2;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
   
}
@media screen and (min-width: 1200px) {
    #profile, #contacts, #projects {
        margin: 50px 100px 50px 300px;
        padding: 2rem;
    }
    nav ul {
        display: flex;
        flex-direction: column;
    }
    
}