:root {
    --thunder:rgb(204, 116, 33);
    --night:#33393f;
    --blitz:rgb(252, 252, 225);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color:#33393f;
    color: var(--blitz);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

nav {
    position: fixed;
    z-index: 2; 
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5px 30px 5px 30px;
}
nav li a {
    text-decoration: none;
    color: var(--thunder);
} 

nav li:hover {
    font-size: larger;
    font-weight: bolder;
}
.headerImage {
    height:600px;
    width: 100%;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 30%;
    border-bottom: solid 3px var(--blitz);
    border-radius: 0 0 40px 40px;
}

section {
    margin-top: 50px;
    padding: 2rem;
    border-radius: 40px;
    border: solid;
}
#profile {
    text-align: center;
}
.profileImage {
    height:400px;
    width: max-content;
    border: solid 3px var(--thunder);
    border-radius: 30px;
}
#infoDiv, #linksDiv {
    padding: 10px;
    margin-top: 20px;
    border: solid 3px var(--thunder);
    border-radius: 30px;
}
.linkedin, .githublogo {

}
#profile ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;   
}

.linkedin {
    border-radius: 50%;
}

.project-div{
    display: flex;
    justify-content: space-around;
}
.daily-schedule-head,
.weather-dashboard-head,
.code-quiz-head,
.groupproject-head {
    position: relative;
    width: max-content;
    margin: 1.5rem 0 -2rem 0;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-family:'Permanent Marker', cursive;
    font-weight: lighter;
    font-size: 1.5rem;
    background-color:var(--night) ;
    border: solid var(--thunder);
}
.workDaySchedule,
.weatherDashboard,
.codeQuiz,
.groupProject {
    border-radius: 30px;
    border: solid 3px var(--thunder)
}
.workDaySchedule:hover,
.weatherDashboard:hover,
.codeQuiz:hover,
.groupProject:hover {
    box-shadow: 0px 0px 15px var(--thunder)
}

#contacts div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media  screen and (max-width:600px) {
    .headerImage {

        height: 500px;
    }
    nav {
        font-size: 1rem;
    }
    nav ul {
        display: flex;
        flex-direction: column;
    }
    .workDaySchedule,
    .weatherDashboard,
    .codeQuiz,
    .groupProject {
    width: 100%;
    height: max-content;
    }
}
@media screen and (max-width: 992px) {
    header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    header div h2,
    header div h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .code-quiz {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .project-div {
        display: flex;
        flex-direction: column;
    }
}